extends pug_content/templates/main_template

block content
    .row
        .hidden-xs
            table.table.timetable
                thead
                    tr
                        th Hora
                        th Lunes
                        th Martes
                        th Miercoles
                        th Jueves
                        th Viernes
                        th Sabado
                        th Domingo
                tbody
                - var x = 0;
                while x < 24
                    tr
                        - x++;
                        if x < 5
                            td= '0' + (Math.round(x / 2) + 7) + ':' + ((x % 2==1)?'00':'30')
                        else
                            td= (Math.round(x / 2) + 7) + ':' + ((x % 2==1)?'00':'30')
                        td 1
                        td 2
                        td 3
                        td 4
                        td 5
                        td 6
                        td 7


