extends pug_content/templates/main_template

prepend title
    | Tabla de horarios

append stylesheets
    link(rel='stylesheet', type='text/css', href='css/bootstrap.vertical-tabs.css')

block content
    #time_table_app

append scripts
    script(src="js/main_react.js")