.container
    .screen_too_small
        h4
            | Esta página fue diseñada para pantallas con un ancho mayor a 320 pixeles.
            | Su pantalla mide menos que esto, por lo que
            | puede que experimente algunos errores de alineado y orientación.

